.main-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.main-cards li {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  font-weight: 600;
  font-size: 18px;
  color: rgb(0, 144, 0);
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.main-cards li:hover {
  scale: 1.05;
  transition: all 0.3s ease-in-out;
}

.accordion-item {
  margin-bottom: 10px;
}

.accordion-header {
  padding: 10px;
  cursor: pointer;
}
